/* laptop 
or
tablet 
css */

.page {
    background-color: #f5f6f8;
    width: 100%;
    height: 100%;
  }
  
  /* header styles */
  .heading {
    display: flex;
    padding: 2%;
  }
  .heading h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
  }
  .heading #jewellers {
    color: #e9b640;
  }
  .heading #live {
    color: #3b325f;
  }
  
  /* image-container styling */
  
  .image-container {
    height: 100%;
    padding-top: 13%;
    padding-left: 4%;
  }
  .image-container img {
    vertical-align: middle;
    width: 818px;
    aspect-ratio: auto 818 / 480;
    height: 480px;
  }
  .section-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  /* signup container styling */
  
  .signup-container {
    height: 70%;
    width: 100%;
    padding: 3%;
    padding-left: 10%;
    border-radius: 8px;
    border: 1px;
  }
  
  .step-box {
    height: 100%;
    padding-left: 5%;
    padding-right: 10%;
  }
  .step-box input {
    padding: 4%;
  }
  
  .signup-container h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    padding-left: 47px;
    padding-top: 30px;
  }
  .signup-container button {
    width: 366px;
    height: 55px;
    background-color: #4070f4;
  }
  
  .step1 label {
    padding-top: 36px;
    font-size: 24px;
    color: rgba(99, 99, 99, 1);
  }
  .step1 p{
    padding-left: 18%;
    align-items: center;
  }
  .step2 label {
    padding-top: 201px;
    font-size: 24px;
    color: rgba(99, 99, 99, 1);
  }
  .step3 label {
    padding-top: 201px;
    font-size: 24px;
    color: rgba(99, 99, 99, 1);
  }
  
  .step4 label {
    padding-top: 201px;
    font-size: 24px;
    color: rgba(99, 99, 99, 1);
  }
  
  .step1,
  .step2,
  .step3,
  .step4 {
    padding-left: 48px;
  }
  
  .form-control {
    width: 90%;
  }
  
  /* button styling*/
  .button-create-account {
    width: 366px;
    height: 55px;
    border-radius: 10px;
  }
  
  
  
  
  
  
  /* CSS rules for screens below 400px */
  
  @media screen and (max-width: 430px) {
    .page {
      background-color: #f5f6f8;
      width: 125%;
      height: 100%;
    }
    /* header styles */
    .heading {
      display: flex;
      padding: 5%;
    }
    .heading h1 {
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0px;
      text-align: left;
    }
    .heading #jewellers {
      color: #e9b640;
    }
    .heading #live {
      color: #3b325f;
    }
  
    /* image-container styling */
  
    .image-container {
      padding-top: 0%;
      height: 30%;
      width: 100%;
    }
    .image-container img {
      width: 80%;
      height: 100%;
    }
    .section-container {
      display: inline;
      width: 100%;
      height: 50%;
    }
  
    /* signup container styling */
  
    .signup-container {
      height: 70%;
      width: 100%;
      padding: 1%;
      border-radius: 8px;
      border: 1px;
    }
  
    .step-box {
      height: 90%;
      width: 97%;
      padding: 5%;
    }
    .step-box input {
      padding: 3%;
    }
    .step-box p{
      text-align: center;
    }
  
    .signup-container h2 {
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;
      text-align: left;
      padding-left: 47px;
      padding-top: 30px;
    }
    .signup-container button {
      width: 90%;
      height: 45px;
      background-color: #4070f4;
    }
  
    .step1 label {
      padding-top: 2%;
      font-size: 18px;
      color: rgba(99, 99, 99, 1);
    }
    .step1 p{
      padding-left: 3%;
      align-items: left;
    }
    .step2 label {
      padding-top: 52%;
      font-size: 18px;
      color: rgba(99, 99, 99, 1);
    }
    .step3 label {
      padding-top: 52%;
      font-size: 18px;
      color: rgba(99, 99, 99, 1);
    }
  
    .step4 label {
      padding-top: 52%;
      font-size: 20px;
      color: rgba(99, 99, 99, 1);
    }
  
    .step1,
    .step2,
    .step3,
    .step4 {
      padding-left: 48px;
    }
  
    .form-control {
      width: 90%;
    }
  
    /* button styling*/
    .button-create-account {
      width: 366px;
      height: 55px;
      border-radius: 10px;
    }
  }
  