<div class="verification-page">
    <div class="verify-details">
        <img src="..\assets\Vector.svg" alt="">
        <h2>Verify Details</h2>
    </div>

    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>

    <div class="tab-container">
        
        
        <div class="tab-1">
            <img src="../assets/Online Store.svg" alt="" >
            <h3><b> Store Details </b></h3>
        </div>
            
        <span class="tab-1">
            <img src="../assets/ID Verified.svg" alt="">

        </span>

        <span class="tab-1">
            <img src="../assets/Business.svg" alt="">

        </span>

        <span class="tab-1">
            <img src="../assets/Bank Account.svg" alt="">
        </span>
    </div>



</div>



